.gap {
  background-color: scale-color-diff();
  padding: 5px 15px;
  color: $primary;
  text-align: center;
  margin: 0 10px;
}

.topic-post {
  border-top: 1px solid scale-color-diff();
  padding: 6px 0 3px 0;
}

nav.post-controls {
  background-color: $secondary;
  padding: 0;
  border-right: 1px solid scale-color-diff();
  clear: both;
  button {color: scale-color($primary, $lightness: 50%);
}

span.badge-posts {
  margin-right: 5px;
}

.show-replies {
  display: none;
  i {
    margin-left: 5px;
  }
}



button.create {
  float: right !important;
  margin-right: 0;
  color: $primary;
  padding-right: 7px;}
}

.create i {
  margin-right: 5px;
}


button {
  border: none;
  font-size: 17px;
  padding: 8px 10px;
  vertical-align: top;
  background: transparent;
  float: left !important;
  &.hidden {
    display: none;
  }
  &.admin {
    position: relative;
  }
  &.like, &.edit, &.flag, &.delete, &.share, &.bookmark, &.create, &.admin {
    float: right;
  }
  &.expand-post {
    margin:10px 0 10px 0;
  }
  .read-icon {
    &:before {
      font-family: "FontAwesome";
      content: "\f02e";
    }
    &.unseen {
      &:before {
        content: "\f097";
      }
    }
    &.last-read {
      color: $danger;}
    &.bookmarked {
      &:before {
        color: $tertiary;
      }
    }
  }
}

nav.post-controls {
  position: relative;
}

.post-admin-menu {
  background-color: $secondary;
  width: 205px;
  padding: 10px;
  border: 1px solid scale-color-diff();
  position: absolute;
  text-align: left;
  bottom: -26px;
  left: 0;
  z-index: 1000;
  display: none;

  h3 {
    color: $primary;
    font-size: 1em;
  }

  ul {
    list-style: none;
    margin: 10px 0 0 0;
  }

  li {
    width: 176px;
    margin-bottom: 5px;

    i.fa {
      width: 14px;
      margin-right: 14px;
    }
  }
}


.embedded-posts {
  .topic-meta-data h5 a {
    margin-left: 10px;
  }
}


.reply-new {
  display: none;
}

.post-actions {
  margin-left: 10px;
  margin-top: 2px;
}

a.reply-to-tab {
  display: none;
}

a.star {
  display: inline-block;
  float: left;
  font-size: 1.3em;
  margin-top: 4px;
}

#main a.star.starred {
  text-shadow: none !important;
}

.topic-post .boxed .contents {
  float: none;
}

.topic-map {

  .btn {
    border-radius: 0 4px 0 4px;
  }

  .topic-links li {
    word-wrap: break-word;
  }

  border-radius: 5px;
  margin: 30px 10px 20px 10px;
  border: 1px solid scale-color-diff();

  h3 {
    margin-bottom: 4px;
    color: $primary;
    line-height: 23px;
  }

  h4 {
    margin: 0 0 3px 0;
    color: $primary;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
  }

  p,
  .participants {
    margin: 0 0 7px;
  }

  ul {
    margin: 0;
    list-style: none;
  }

  .avatars {
    > div {
      float: left;
      position: relative;
      margin: 3px 0;
    }
    .post-count {
      position: absolute;
      top: 2px;
      right: 6px;
      padding: 0 4px;
      font-weight: normal;
      font-size: 11px;
      line-height: 14px;
    }
  }

  .avatar {
    float: left;
    margin-right: 4px;
  }

  .map-collapsed {
    .secondary {
      display: none;
    }
  }

  .map {
    li {
      float: left;
      padding: 7px 11px;
      &:last-of-type {
        border-right: 0;
      }
    }
    a, .number {
      font-weight: bold;
      line-height: 20px;
    }

    .avatar + a {
      float: left;
    }
  }
  .avatars,
  .links,
  .information {
    padding: 7px 14px;
    color: $primary;
    overflow: auto;
  }

  .information {
    border-top: 1px solid scale-color-diff();
  }

  .domain {
    color: scale-color($primary, $lightness: 75%);
  }

  .topic-links {
    .badge-notification {
      margin: 0 0 4px;
    }
  }
  .buttons {
    float: right;
    .btn {
      border: 0;
      border-bottom: 1px solid scale-color-diff();
      border-left: 1px solid scale-color-diff();
      padding: 0 23px;
      color: $primary;
      background: scale-color-diff();
      &:hover {
        background: scale-color($primary, $lightness: 75%);
        color: $primary;
        border-bottom: 1px solid scale-color-diff();

      }
      .fa {
        margin: 0;
        font-size: 18px;
        line-height: 52px;
      }
    }
  }
}

#topic-footer-buttons {
  border-top: 1px solid scale-color-diff();
  padding: 20px 10px 0 10px;
}

/* this is to force the drop-down notification state description para below the button */
#topic-footer-buttons p {
  clear: both;
  margin: 0;
}

#suggested-topics {
  clear: left;
  padding: 20px 10px 15px 10px;
    th.views, td.views, td.activity, th.activity, th.likes, td.likes {
    display: none;
    }

   a.badge-category, a.badge-category-parent {
    font-size: 10px;
    vertical-align: top;
    }

   .title {
    font-size: 14px; line-height: 8px;
  }

}



span.post-count {
  background: $primary;
  color: $secondary;
  opacity: .8;
}


#topic-footer-buttons {
  .btn {
    margin-bottom: 5px;
    margin-right: 10px;
    .fa-star {margin-right: 5px;}
  }
}

#topic-title {
  z-index: 1000;
  margin: 0 0 0 0 !important;
  padding: 15px 10px 15px 10px;
}

.topic-post {
  article.boxed img {
    max-width: 100%;
    height: auto;
  }
  &.moderator {
    background-color: scale-color($highlight, $lightness: 60%);
  }
}

.quote-button {
  display: none;
  position: absolute;
  background-color: scale-color($primary, $lightness: 50%);
  color: $primary;
  padding: 10px;
  width: 90px;
  z-index: 401;

  &:hover {
    background-color: scale-color($primary, $lightness: 50%);
    cursor: pointer;
  }
}

.quote-button.visible {
  display: block;
}

iframe {
  max-width: 100%;
}

.extra-info {
  display: none;
}

.topic-meta-data {
  margin-bottom: 10px;
}

.open>.dropdown-menu {
  display: block;
}

.dropdown-menu li  {
  margin: 5px 0;
}

.btn-group {
  margin-top: 25px;
  position: relative;
}

.dropdown-toggle {
  float: left;
  position: relative;
}

.contents .cooked a {
  word-wrap: break-word;
}

.wiki {
  float: left;
  padding: 10px;
  color: #408040;
  i {
    float: left;
  }
  h3 {
    float: left;
    margin-left: 10px;
  }
}

.modal-body {
  input[type=text] {
    font-size: 16px;
    display: block;
    margin-top: 10px;
  }
}


#share-link {
  width: 300px;
  margin-left: -4px;

  h3 {
    margin: 5px 0;
    float: left;
  }

  .date {
    float: right;
    margin: 5px;
  }

  input[type=text] {
    font-size: 16px;
    margin-bottom: 10px;
  }
}

#selected-posts {
  padding-left: 20px;
  .btn {
    margin-bottom: 10px;
  }
}

.post-select {
  float: right;
  margin-right: 20px;
  margin-top: -20px;
}

.post-action {
  float:right;
  margin-right: 10px;
}

.post-action .relative-date {
  margin-left: 5px;
}

.deleted {
background-color: scale-color($danger, $lightness: 75%);
}

#show-topic-admin {
  color: scale-color($primary, $lightness: 50%);
  right: 0;
  border-right: 0;
  padding-right: 4px;
  padding-left: 5px;
  border-radius: 4px 0 0 4px;
}

.deleted-user-avatar {
  font-size: 36px;
}

.staff a {
  border-radius: 4px;
  padding: 4px;
  margin: -4px 0 0 -4px;
}

span.btn-text {display: none;}

blockquote {
  clear:both;
  margin: 0;
}

.quote-controls {
  float: right;
  color: $primary;
  a {
  margin: 0;
  }
    .back:before,
    .quote-other-topic:before {
    display: inline-block;
    margin-left: 8px;
    color: $primary;
    font-family: "FontAwesome";
    position: relative;
    z-index: 20;
    }
    .back:before {
    content: "\f062";
    }
    .quote-other-topic:before {
    content: "\f061";
    }
}


.quote .title {
  border-left: 5px solid scale-color($primary, $lightness: 75%);
  background-color: scale-color-diff();
  padding: 10px 10px 10px 12px;
  clear: both;
  .avatar { margin-right: 7px; }
}

.gutter { display: none; }

.posts-wrapper {  position: relative;
}

.topic-body.highlighted {
  background-color: scale-color($tertiary, $lightness: 75%);
}

span.highlighted {
  background-color: scale-color($highlight, $lightness: 70%);
}

.topic-avatar {
  float: left;
  position: relative;
  z-index: 2;
}

.topic-meta-data {
  white-space: nowrap;
  position: absolute;
  z-index: 1;
  width: 100%;
  .names {
    margin: 5px 0 0 65px;
    line-height: 17px;
    span {
      display: block;
    }
  }
  .post-info {
    float: right;
    font-size: 12px;
    margin: 4px 10px 0 0;
    .edits { margin-right: 5px; }
  }
}

.username.new-user a {
  color: scale-color($primary, $lightness: 70%);
}

.user-title {
  color: #aaa;
  padding-top: 2px;
  overflow: hidden;
  margin-right: 50px;
}

.read-state {
  display: none;
}
