{{view 'search-text-field' value=term searchContext=searchContext id="search-term"}}
{{#unless loading}}
  {{#unless noResults}}
    {{#each resultType in content}}
      <ul>
        <li class='heading'>
          {{resultType.name}}
          {{#if resultType.more}}
            <a href='#' class='filter' {{action moreOfType resultType.type bubbles=false}}>{{i18n show_more}}</a>
          {{else}}
            {{#if showCancelFilter}}
              <a href='#' class='filter' {{action cancelType bubbles=false}}><i class='fa fa-times-circle'></i></a>
            {{/if}}
          {{/if}}
        </li>
        {{view Discourse.SearchResultsTypeView typeBinding="resultType.type" contentBinding="resultType.results"}}
      </ul>
    {{/each}}
  {{else}}
    <div class='no-results'>
      {{i18n search.no_results}}
    </div>
  {{/unless}}
{{else}}
<div class='searching'><i class='fa fa-spinner fa-spin'></i></div>
{{/unless}}
