// --------------------------------------------------
// Topic lists
// --------------------------------------------------

// List controls
// --------------------------------------------------

.list-controls {
  .nav {
    float: left;
    margin-bottom: 18px;
  }

  .btn {
    float: right;
    margin-left: 8px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: normal;
  }

  a.badge-category {
    padding: 3px 12px;
    font-size: 16px;

    &.category-dropdown-button {
      height: 24px;
      padding: 3px 9px;
      i { height: 20px; }
    }

  }

  .badge-category {
    font-weight: normal;
    text-transform: capitalize;
  }

}

#navigation-bar {
  .has-icon span:before {
    margin-right: 4px;
    font: 15px/0.9 "FontAwesome";
  }
  .has-icon .starred:before {
    content: "\f005";
  }
  .has-icon .unread:before {
    content: "\f02e";
  }
}

// Base list
// --------------------------------------------------

#topic-list {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  margin: 0 0 10px;
  border-top: 1px solid scale-color-diff();
  .fa-thumb-tack {color: $primary;}
  .fa-thumb-tack.unpinned {color: $primary;}

  a.title {color: $primary;}
  a.title:visited:not(.badge-notification) {color: scale-color($primary, $lightness: 35%);}

  > tbody > tr {
    &:nth-child(even) {
        background-color: darken($secondary, 3%);
    }
    &.archived a {
      opacity: 0.6;
    }
    &.has-excerpt .star {
      vertical-align: top;
      margin-top: 2px;
    }
    &.category-description {
      td {
        color: $danger;
      }
    }
    &.highlighted {
      background-color: scale-color($tertiary, $lightness: 85%);
    }
  }
  th,
  td {
    padding: 12px 5px;
    line-height: 1.25;
    text-align: left;
    vertical-align: middle;
    &:first-of-type {
      padding-left: 10px;
    }
    &:last-of-type {
      padding-right: 10px;
    }
  }
  th {
    color: scale-color($primary, $lightness: 50%);
    font-weight: normal;
    font-size: 14px;
    button i.fa {color: scale-color($primary, $lightness: 50%);}

  }
  td {
    color: scale-color($primary, $lightness: 50%);
    font-size: 14px;
  }

  button.bulk-select {
    padding: 0;
    background: transparent;
    &:hover {
      color: scale-color-diff();
    }
  }

  .star {
    width: 20px;
    padding-right: 0;
    .fa-star {
      position: relative;
    }
    + .main-link {
      padding-left: 5px;
    }
  }
  .main-link {
    width: 495px;
    font-size: 16px;

    i.score {
      color: $success;
      cursor: pointer;
    }
  }

  .topic-excerpt {
    font-size: 13px;
    margin-top: 8px;
    color: scale-color($primary, $lightness: 50%);
    word-break: break-word;
    line-height: 1.4;
  }

  .topic-statuses:empty {
    display: none;
  }
  .topic-status {
    margin-right: 4px;
    padding: 0;
    font-size: 15px;
    &:last-of-type {
      margin-right: 0;
    }
  }
  .badge-notification {
    position: relative;
    top: -2px;
  }
  .category {
    padding: 0 20px 0 20px;
    min-width: 80px;
  }
  .posters {
    min-width: 150px;
  }
  .participants {
    min-width: 85px;
  }
  .posters, .participants {
    > a {
      float: left;
      margin-right: 4px;
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
  .avatar {
    &.latest {
      @include box-shadow(0 0 6px 1px desaturate(scale-color($tertiary, $lightness: 30%), 35%));
    }
  }
  .num {
    text-align: center;
    a:not(.badge-posts) {
      color: inherit;
    }
    a.badge-posts {
      font-weight: bold;
    }
  }
  .sortable {
    cursor: pointer;
    &:hover {
      background-color: scale-color-diff();
    }
    @include unselectable;
  }
  .likes {
    width: 65px;
  }
  .views {
    width: 65px;
  }
  .posts {
    width: 65px;
  }
  .activity {
    width: 60px;
  }
  .age {
    width: 60px;
  }
  .with-year {
    white-space: nowrap;
  }
}

#list-area .top-lists h2 { margin: 5px 0 10px; }

#topic-list tbody tr.has-excerpt .star {
  vertical-align: top;
  margin-top: 3px;
}

#topic-list.categories {
  th.posts {
    position: relative;
  }
  > tbody > tr:nth-child(odd) {
    background-color: darken($secondary, 3%);
  }
  > tbody > tr:nth-child(even) {
    background-color: $secondary;
  }
  th .toggle-admin {
    position: absolute;
    padding: 3px 8px;
    font-size: 12px;
    right: -35px;
    top: 4px;
  }
  th.latest, td.latest {
    padding-left: 12px;
  }
  th.num {
    width: 45px;
  }
  th.stats {
    width: 90px;
  }
  td.latest {
    vertical-align: top;
    padding: 8px;
  }
  td.category {
    vertical-align: top;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  td.stats {
    .unit {
      font-size: 11px;
    }
  }
  table.categoryStats {
    td {
      padding: 2px;
      vertical-align: bottom;
      line-height: 24px;
      &.value { text-align: right; font-size: 24px; }
      &.unit  { text-align: left; }
    }
  }
  .last-user-info {
    font-size: 12px;
  }

  .has-description {
    td.category {
      padding-top: 15px;
    }
  }

  .category{
    position: relative;
    width: 45%;

    .subcategories {
      margin-top: 10px;
    }
    .featured-users {
      float: right;
      margin-right: 13px;
    }
    .category-description {
      margin-top: 10px;
    }
    .badge-category.bigger {
      padding: 6px 10px;
      font-size: 14px;
    }
  }

  .featured-topic {
    margin: 6px 0;
    a.last-posted-at, a.last-posted-at:visited {
      color: scale-color($primary, $lightness: 50%);
    }
  }

  .badge-category {
    display: inline-block;
    margin-top: 1px;
  }
}




// Category list
// --------------------------------------------------


.category-list-item {
  margin-bottom: 10px;
  #topic-list tbody tr:nth-child(even) {
    background-color: darken($secondary, 3%);
  }
  th .badge-category {
    float: left;
    margin: 1px 4px 0 0;
  }
  .posters {
    float: left;
    display: block;
    width: 165px;
  }
  > footer {
    border: 1px solid scale-color-diff();
    border-top: 0;
    padding: 7px 10px;
    background-color: scale-color-diff();
    figure {
      float: left;
      margin: 3px 7px 0 0;
      color: scale-color($primary, $lightness: 10%);
      font-weight: bold;
      font-size: 12px;
    }
    figcaption {
      display: inline;
      font-weight: normal;
    }
    .btn {
      float: right;
      margin-left: 7px;
    }
  }
}

// Loading
// --------------------------------------------------

// List

.loading #topic-list {
  border: 0;
  @include box-shadow(none);
  tr {
    background-color: transparent;
  }
}

// Topics

#topic-list-bottom {
  margin: 20px 0;
}

.topics-loading {
  width: 200px;
  margin: 0 auto;
  padding: 10px 0 10px 43px;
  color: $secondary;
  font-size: 18px;
  line-height: 25px;
  background: {
    color: #000;
    image: image-url("spinner_96_w.gif");
    repeat: no-repeat;
    position: 10px 50%;
    size: 25px;
  };
  @include border-radius-all(12px);
}

// Misc. stuff
// --------------------------------------------------

.list-controls {

  .home {
    background-color: scale-color-diff();
    color: $primary;
  }

  .badge-category {
    padding: 4px 10px;
    display: inline-block;
    line-height: 24px;
    float: left;
  }
  .category-dropdown-button {
    border-left: 1px solid rgba(0,0,0,0.15);
    font-size: 16px;
    width: 10px;
    text-align: center;

    &:hover {
      opacity: 0.8;
    }
  }
  clear: both;
}
#list-area {
  margin-bottom: 300px;

  h2 {
    margin: 20px 0 10px;
  }


  .empty-topic-list {
    padding: 10px;
  }
  .unseen {
    background-color: transparent;
    padding: 0;
    border: 0;
    color: scale-color($danger, $lightness: 20%);
    font-size: 13px;
    cursor: default;
  }
}
#topic-list {
  .alert {
    margin-bottom: 0;
    font-size: 14px;
  }
  .spinner {
    margin-top: 40px;
  }
}
span.posted {
  display: inline-block;
  text-indent: -9999em;
  width: 15px;
  height: 15px;
  background: {
    image: image-url("posted.png");
  };
}

ol.category-breadcrumb {
  display: block;
  float: left;
  list-style: none;
  margin: 0 10px 0 0;
  padding: 0;

  li {
    float: left;
    margin-right: 5px;
  }
}

.category-dropdown-menu {
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  border: 1px solid scale-color-diff();
  background-color: $secondary;
  max-height: 350px;
  padding: 8px 7px 0 7px;
  z-index: 100;
  margin-top: 30px;
  min-width: 138px;


  a.badge-category {
    font-size: 13px;
    font-weight: bold;
    padding: 4px 0;
    float: none;
    line-height: 19px;
    text-transform: none;
    width: 100%;
    min-width: 102px;
    text-align: center;
    margin-right: 20px;
    margin-bottom: 7px;
  }

}

#bulk-select {
  position: fixed;
  right: 20px;
  padding: 5px;
  background-color: $secondary;
}

button.dismiss-read {
  float: right;
  margin-bottom: 5px;
}

.category-notification-menu .dropdown-menu {
  right: 0;
  top: 30px;
  bottom: auto;
  left: auto;
}
